<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Atividade2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aula4">
        <activity android:name="com.example.Atividade2.DetalheAlbum" />
        <activity android:name="com.example.Atividade2.DetalheComment" />
        <activity android:name="com.example.Atividade2.DetalhePost" />
        <activity android:name="com.example.Atividade2.DetalheUser" />
        <activity android:name="com.example.Atividade2.main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>